###

BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
SpacesBeforeTrailingComments: 2
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1

AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
ColumnLimit: 100
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Left # char* a vs char *a
SortIncludes: false
SpaceAfterCStyleCast: true # (int)x vs (int) x
SpacesInParens: Never
SpacesInAngles: Never
SpacesInSquareBrackets: false # array[5] vs array[ 5 ]
